footer.footer
    div(class="grid")
        div(class="grid__row")
            div(class="grid__column-2-4")
                h3.footer__heading Chăm sóc khách hàng 
                ul(class="footer__list")
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Trung tâm trợ giúp 
                    li(class="footer-item")
                        a(href="" class="footer-item__link") 28tech Mall 
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Hướng dẫn mua hàng


            div(class="grid__column-2-4") 
                h3.footer__heading Giới thiệu
                ul(class="footer__list")
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Giới thiệu
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Tuyển dụng  
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Điều khoản
            div(class="grid__column-2-4") 
                h3.footer__heading Danh mục
                ul(class="footer__list")
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Đồ công nghệ
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Đồ gia dụng  
                    li(class="footer-item")
                        a(href="" class="footer-item__link") Đồ chơi
            div(class="grid__column-2-4") 
                h3.footer__heading Theo dõi
                ul(class="footer__list")
                    li(class="footer-item")
                        i.footer-item__icon.fa-brands.fa-facebook 
                        a(href="" class="footer-item__link") Facebook 
                    li(class="footer-item")
                        i.footer-item__icon.fa-brands.fa-square-instagram
                        a(href="" class="footer-item__link") Instagram  
                    li(class="footer-item")
                        i.footer-item__icon.fa-brands.fa-linkedin
                        a(href="" class="footer-item__link") Linkedin
            div(class="grid__column-2-4")  
                h3(class="footer__heading") Về cửa hàng trên ứng dụng
                div(class="footer__download")
                    img(src="/images/QRcode.png", alt="Download QR" class="footer__download-qr")
                    div(class="footer__download-apps")
                        a(href="" class="footer__download-app-link")
                            img(src="/images/googleplay.png", alt="Google Play" class="footer__download-app-img")
                        a(href="" class="footer__download-app-link")
                            img(src="/images/appstore.png", alt="App Store" class="footer__download-app-img")
        
    div(class="footer__bottom")
        div(class="grid")
            p(class="footer__text") @2023-Copyright by 28tech
    