.header {
    height: var(--header-height);
    background-image:linear-gradient(0, #fe6433, #f53e2d) ;
}

.header__navbar {
        display: flex;
        justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;

}

.header__navbar-item{
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header_qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}   

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separator {
    border-right: 1px solid hsla(0, 0%, 100%, 0.4);
    height: 0.8125rem;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem ; 
    margin: 0px 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-margin {
    margin-left: 6px;
}

/* Header QR code */
.header_qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header_qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content: "";
    display: block;

}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;

}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    justify-items: center;
    margin: 15px 0 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
   
    
}
.header__search-form {
   width: 100%;
   height: 100%;
   position: relative;
   display:flex;
   align-items: center;
   justify-content: space-between;

}
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-list::after {
    z-index: 3;
    content: "";
    position: absolute;
    right: 43px;
    top: -40px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;

}

.header__cart-list {
    position: absolute;
    top: 58px;
    right: -39px;
    z-index: 2;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* display: none ; */
    
}

.header__cart-list--no-cart {
   
    width: 400px;
    max-height: 340px;
    overflow-y: auto;
  

    
}

.header__cart-list-no-cart-msg {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.5rem;
}

.header__cart-no-cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;

}

.header__cart-heading {
    display: block;
    text-align: left;
    padding: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    position:sticky;
    z-index:4;
    background: transparent;
}

.header__cart-heading {
    text-align: left;
    margin-top: 8px 0 8px 8px;
}

.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
    margin-top: 10px;
    

}

.header__cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;

}

.header__cart-img {
    width: 50px;
    height: 50px;
    margin: 12px;
    border: 1px solid #e8e8e8;
    object-fit: contain;
}

.header__cart-item {

}

.header__cart-item-info {

}

.header__cart-item-head {
    display: flex;
}

.header__cart-item-name {

}


.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multipy {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-link {
    display: block;
    height: 48px;
   
    
}

.header__cart-view-cart {
    float: right;
    margin: 6px 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

.header__cart-item-body {

}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}


.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
   
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    text-decoration: none;

}

.header__search-input {
    
    flex:1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left:16px;
    
}


.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    position: absolute;
    right: 0;
    
    text-align: center;
    
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
} 

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    margin-top: 16px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 16px;
    top: -17px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:  12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    color: var(--primary-color);
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    background-color: var(--white-color);
    font-size: 1.4rem;

}




/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    /* display: flex;
    align-items: center; */
}


.footer-item__link:hover {
    color: var(--primary-color);

}

.footer-item__icon {
    display: flex;
    color: #737373;
    padding-right: 4px;
    font-size: 1.6rem;
    margin-top: -1px 8px 0 0 ;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #737373;

}

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) ;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    
}

.category-item--active .category-item__link { 
    color: var(--primary-color);

}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform; 
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    text-decoration: none;

}

.home-product-item__img {
    
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}

.home-product-item__favourite span {
    color: var(--white-color);
    
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: inline;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__name:hover {
    cursor: pointer;
    color: rgb(0, 115, 255);
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.9);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color:transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2rem;
    position: relative;
    top: 5px;
    /* width:100%; */
}

.home-product-item__sale-off-label {
    display:inline-block;
    color: var(--white-color);
    font-size: 1rem;
    line-height: 1.1rem;
    position: relative;
    top: 4px;
    

    font-weight: 500;
}

/* product-detail */
.product-detail .inner-thumb img {
    width: 100%;
    height: auto;
  }
  
  .product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .product-detail .inner-category {
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-detail .inner-price-old {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent span {
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }
  
  .product-detail .inner-stock {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-stock span {
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }
  /* End product-detail */

/* Show Alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
  }
  
  [show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes alert-hidden {
    from {
      right: 15px;
    }
    to {
      right: -100%;
      display: none;
    }
  }
  
  [show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
  }
  /* End Show Alert */

.auth__container {
   margin: -8px;
   height: 100vh;
}

.auth__top {
    display: flex;
    align-items: center;
    padding: 20px 50px;
   max-height: 95px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
}
.auth__logo {
    width: 122px;
    height: 40px;
    margin-top: -12px;
}
.auth__heading {
    color: #222;
    font-size: 2.4rem;
    margin-left: 10px;
}
.auth__link {
    text-decoration: none;
    margin-left: auto;
    color: #ee4d2d;
    font-size: 1.4rem;
    margin-right: 15px;
    cursor: pointer;
    background-color: initial;
}

.auth__bottom {
   
    padding: 70px 0;
    background: #ee4e2e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.auth__left{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.auth__right{
    
}
.auth__desc {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
 width: 400px;
 line-height: 1.5;
}
.auth__form-inner {
    padding: 22px 30px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
        /* overflow: hidden; */
        max-width: 450px;
}
.auth__logo-img {
    width: 240px;
    background: transparent;
}
.auth__form-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth__form-title {
    margin-right: 20px;
    flex-shrink: 0;
    
    font-size: 1.8rem;
    color: #222;
    font-family: "Helvetica Neue";
}
.auth__form-text {
    padding: 15px 10px;
    color: #ffbf00;
    font-size: 1.6rem;
    font-weight: 500;
    border: 2px solid #ffbf00;
    border-radius: 2px;
    position: relative;
    margin-right: 15px;
    background-color: #fefaec;
}
.auth__form-text::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 50%;
    right: -0.75rem;
    color: #ffbf00;
    background-color: #fefaec;
}
.auth__form-qr svg {
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: initial;
}
.form__group {
    margin-top: 20px;
}
.form__text-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    background: transparent;
}
.form__text-input:focus-within {
    background: #fff6f7;
    border-color: #666;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
    border-color: rgb(255, 66, 79);
    background: rgba(255, 66, 79, 0.1);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error {
    display: block;
}
.form__input {
   height: 80px;
    padding: 0 10px;
    outline: none;
    border: none;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}
.form__input-icons {
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 0.9375rem 0 0.75rem;
}
.form__input-icon {
    width: 1.25rem;
    height: 0.625rem;
    padding-top: 0.375rem;
    cursor: pointer;
}
.form__error {
    margin: 0;
    display: none;
    font-size: 0.75rem;
    color: #ff424f;
    min-height: 1rem;
}
.form__group-btn {
    width: 100%;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
    border: none;
    outline: none;
    padding: 12px 0;
    border-radius: 3px;
    cursor: pointer;
}
.form:has(:invalid) .form__group-btn {
    opacity: 0.5;
    pointer-events: none;
}
.form__group--inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__group-link {
    color: #05a;
    font-size: 0.75rem;
    text-decoration: none;
    padding: 2px;
}
.form__group-separate {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
}
.form__group-separate .separate {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}
.form__group-separate .desc {
    font-size: 0.9rem;
    padding: 0 15px;
    color: #dbdbdb;
}
.form__group-social {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.form__group-social--wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: 0.875rem;
    margin: 5px;
    text-decoration: none;
}
.form__group-social--wrap .form__group-social--link {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 7px;
}
.form__group-social-desc {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
}
.auth__text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.26);
    font-size: 0.875rem;
}
.auth__text a {
    text-decoration: none;
    color: #ee4d2d;
    font-weight: 500;
    font-size: 0.875rem;
    margin-left: 8px;
}